

.links {
    display: flex;
    gap: 10px;
    align-items: center;
    color: black;
    margin-left: 20px;
}

.separator {
    color: black;
}



.nest-and-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.nest img {
    max-width: 100%;
    height: auto;
}


.options-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid green;
}

.search-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-input select,
.search-input input {
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
}

.fas {
    color:black;
    font-size: 100px;
    width:200px;
    height: 100px;
}


input[type="submit"] {
    background-color: green; 
    color: white; 
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    padding: 50px;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    padding: 10px;
    color:black;
}


.product {
    display: flex;
    align-items: center;
}

.product h2 {
    margin-right: 20px;
    
}

#different {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: calc(20% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-left-width: 3px; /* Sol kenar çerçeve genişliği */
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:nth-child(1) {
    
    background-color: #ffe6e6; /* İlk kartın arkaplan rengi */
}

.card:nth-child(2) {
 
    background-color: #e6f7ff; 
}

.card:nth-child(3) {
     
    background-color: #e6ffe6; 
}

.card:nth-child(4) {
     
    background-color: #e3c9e8; 
}

.card:nth-child(5) {
   
    background-color: #f2b2d9; 
}

.card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}

.card-text {
    text-align: center;
    margin-top: 10px;
}

.card-text a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.card-text span {
    color: black;
}

.container {
    display: flex;
    justify-content: space-around;
    
}
.product2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 50px;
}

.hot-label {
    background-color: #e74c3c;
    color: #fff;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
}


.product2 img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.product-info {
    text-align: center;
}

.product-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-price {
    font-size: 24px;
    color: #e74c3c;
    margin-bottom: 10px;
}

.add-basket {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}
.rating {
    display: inline-block;
    font-size: 24px;
    color: #f1c40f; /* Yıldız rengi */
}

.star {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    font-size: inherit;
}

.full:before {
    content: "\2605"; 
    position: absolute;
}

.half:before {
    content: "\2605"; 
    position: absolute;
    clip: rect(0, 0.5em, 1em, 0);
}
.price {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    text-decoration: line-through; /* Qiymetin üzerine x cekmek */
}

.amount {
    font-size: inherit;
}
.price {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.currency {
    font-size: 18px;
}

.amount {
    font-size: inherit;
}

.cart{
    position: fixed;
    top:0;
   /* right: 0;*/
   
   right:-100%;
   width: 360px;
   height: 100vh;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 20px;
   background-color: var(#e74c3c);
   box-shadow: -2px solid 4px;
   border:1px solid var(#f4f4f4);
   transition: 1.5s;

}

.cart.active{
    right: 0;
    transition: .5s;

}

.cart-title{
    text-align: center;
    font-size: medium;
    font-weight: 600;
    margin-top: 20px;
}

.cart-box{
    display: flex;
    align-items: center;
    gap:10px;
    margin-top: 10px;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;


}
.detail-box{
    display: flex;
    row-gap: 5px;

}
.cart-product-title{
    font-size: 10px;
    text-transform: uppercase;

}

.cart-price{
    font-weight: 500;

}
.cart-quantity{
    border:1px solid red;
    outline-color: #f1c40f;
    width: 200px;
    text-align: center;
    font-size: 10px;

}
.cart-remove{
    font-size: 24px;
    color:#f2b2d9;
    cursor: pointer;

}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    border-top: 5px solid;


}
.total-title{
    font-size: 3px;
    font-weight: 500;
}
.total-price{
    margin-left: 10px;

}
.btn-buy{
    display: flex;
    margin: 10px auto 0 auto;
    padding: 12px;
    border: none;
    background-color: #e74c3c;
    color:black;
    font-size: 10px;
    font-weight: 300;
    cursor: pointer;
}
.btn-buy :hover{
    background-color: #f2b2d9;
}
#cart-close{
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 10px;
    color:#f2b2d9;
    cursor: pointer;

}